'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'About'
      'submenu': [
        {
          'label': 'About Atom'
          'command': 'about:about-atom'
        }
      ]
    ]
  }
]
