@import "ui-variables";

.about-atom {
  -webkit-user-select: none;
  cursor: default;
  overflow: auto;
  font-size: 1.5em;
  padding: 10px;

  button {
    cursor: default;
  }

  img, a {
    -webkit-user-drag: none;
  }

  .icon::before {
    margin-right: 0;
    font-size: 1.5em;
    width: auto;
  }

  .atom-header {
    .atom-icon {
      width: 100px;
      margin-right: 10px;
    }

    .atom-heading {
      font-size: 1.5em;
      font-weight: bold;
    }

    .atom-version {
      margin-right: 6px;
    }

    button {
      font-size: 1em;
    }

    .icon::before {
      font-size: 1em;
    }
  }

  .credits {
    margin-top: 40px;

    .icon-logo-github::before {
      vertical-align: sub;
    }
  }
}
