@import "ui-variables";

.about-atom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
  cursor: default;
  overflow: auto;
  font-size: 1.5em;
  line-height: 1.4;
  padding: 4em;
  color: @text-color;
  background-color: @base-background-color;

  button {
    cursor: default;
  }

  a:focus {
    // Don't use Bootstrap default here
    color: inherit;
  }

  img, a {
    -webkit-user-drag: none;
  }

  .icon::before {
    margin-right: 0;
    font-size: 1.5em;
    width: auto;
  }

  .about-container {
    width: 100%;
    max-width: 500px;
  }

  .about-header {
    text-align: center;

    .about-logo {
      display: block;
      width: 100%;
      max-width: 280px;
      margin: 0 auto 0.4em auto;
      color: @text-color-highlight;
    }

    .about-heading {
      font-size: 1.5em;
      font-weight: bold;
    }

    .about-version-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .about-version {
        margin-right: 8px;
      }

      .btn {
        // TODO: Remove button from normal flow so its width won't be used when
        // centering.
      }

      .about-copy-version{
        &::before {
          // The copy octicon hangs too low without bumping it up a bit
          position: relative;
          bottom: 1px;
        }

        &:hover::before {
          color: lighten(@text-color, 20%);
        }

        &:active::before {
          color: lighten(@text-color, 30%);
        }
      }

    }

    button {
      font-size: 1em;
    }

    .icon::before {
      font-size: 1em;
    }
  }

  .about-note {
    font-size: .86em;
    color: @text-color-subtle;
  }

  .about-metrics {
    margin-top: 2em;
  }

  .about-credits {
    margin-top: 40px;
    text-align: center;

    .icon::before {
      // Make these octicons look good inlined with text
      position: relative;
      top: 1px;
    }

    .icon-logo-github::before {
      // This Octicon has a lot of extra whitespace at the bottom, so it needs
      // to be moved down more to compensate.
      // See https://github.com/github/octicons/issues/59
      top: 3px;
    }
  }
}
